<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3>HAM QUIZ!!!:</h3>
    <form action="/ham_quiz" method="post">
        <label>1: how expensive was the most expensive ham ever sold</label>
        <br><br>
        <input type="radio"  name="ham_Q1" value="5000">
        <label>£5,000</label><br>
        <input type="radio" name="ham_Q1" value="300">
        <label>£300</label><br>
        <input type="radio" name="ham_Q1" value="70000">
        <label>£70,000</label><br>
        <input type="radio" name="ham_Q1" value="25000">
        <label>£25,000</label><br><br>

        <label>2: what potential side effects can ham have</label>
        <br><br>
        <input type="radio" name="ham_Q2" value="cancer">
        <label>cancer</label><br>
        <input type="radio" name="ham_Q2" value="type 2 diabeties">
        <label>type 2 diabeties</label><br>
        <input type="radio" name="ham_Q2" value="cardiovascular disease">
        <label>cardiovascular disease</label><br>
        <input type="radio" name="ham_Q2" value="all of the above">
        <label>all of the above</label><br><br>

        <label>3: how much ham is consumed globablly every minute</label>
        <br><br>
        <input type="radio" name="ham_Q3" value="15 tons">
        <label>15 tons</label><br>
        <input type="radio" name="ham_Q3" value="100 killograms">
        <label>100 killograms</label><br>
        <input type="radio" name="ham_Q3" value="3 tons">
        <label>3 tons</label><br>
        <input type="radio" name="ham_Q3" value="200 tons">
        <label>200 tons</label><br><br>

        <label>4: how many different proteins are in ham</label>
        <br><br>
        <input type="radio" name="ham_Q3" value="20">
        <label>20</label><br>
        <input type="radio" name="ham_Q3" value="100">
        <label>100</label><br>
        <input type="radio" name="ham_Q3" value="1000+">
        <label>1000+</label><br>
        <input type="radio" name="ham_Q3" value="250">
        <label>250</label><br><br>
    </form>
</body>
</html>